
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #F9F9F9;
    z-index: 2000;
    font-family: 'Lato', sans-serif;
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar.dark {
    background: #111;
}

.sidebar.hide {
    width: 60px;
}

.sidebar.hide .menu-link span {
    display: none;
}

.menu {
    width: 100%;
    margin-top: 48px;
}

.menu-item {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.menu-item.active {
    background: #eee;
    position: relative;
}

.menu-item.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 #eee;
    z-index: -1;
}

.menu-item.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 #eee;
    z-index: -1;
}




/* Giao diện bảng bằng div */
.grid.grid-cols-\[100px_1fr_200px\] {
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    align-items: center;
}

.grid .border-b {
    border-bottom: 1px solid #d1d5db;
}

.grid .hover\:bg-blue-50:hover {
    background-color: #eff6ff;
}

.bg-yellow-400 {
    color: #000 !important;
}

.bg-red-600 {
    color: #fff !important;
}

.content .lg\:px-30 {
    padding: 0 30px;
}

@media (max-width: 1024px) {
    .content .lg\:px-30 {
        padding: 0 12px;
    }
}

.sidebar.dark .menu-item.active {
    background: #37353E;
}

.sidebar.dark .menu-item.active::before {
    box-shadow: 20px 20px 0 #37353E;
}

.sidebar.dark .menu-item.active::after {
    box-shadow: 20px -20px 0 #37353E;
}

.menu-item.active,
.menu-item.active::before,
.menu-item.active::after {
    transition: background 0.3s ease, box-shadow 0.3s ease;
}
.menu-link {
    width: 100%;
    height: 100%;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    white-space: nowrap;
    overflow-x: hidden;
}

.menu-link.dark {
    background: #111;
}

.menu-link.hide {
    width: 40px;
    transition: width 0.3s ease;
}

.switch-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: #eee;
    cursor: pointer;
    position: relative;
}

.switch-toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: #6B7597;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.switch-toggle.dark {
    background: #6B7597;
}

.switch-toggle.dark::before {
    background: #111;
}

.switch-toggle:has(input:checked)::before {
    left: calc(100% - (25px - 4px) - 2px);
}