@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css';

/*@font-face {*/
/*    font-family: 'Digital';*/
/*    src: url('./fonts/digital.woff') format('woff');*/
/*}*/